
.cartIconWrapper {
    padding: 15px 10px; 
}

.cartIcon {
    width: 21.82px;
    height: 20px;
}

.cartIconWrapper:hover {
    cursor: pointer;
}

.cartNum {
    width: 19px; 
    height: 13px; 
    border-radius: 6.5px; 
    background-color: #FF7E1B;
    color: white; 
    padding: 2px 3px; 
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}

